/**
 * contain-box
 */
.contain-box {
  position: relative;
  width: 50%; height: 22%;
  transition: 1s;
  &.super-me {
    height: 60%;
    &.super-image {
      height: 90%;
    }
    .image {
      animation: remain-image 1s ease forwards;
      &.content-image {
        animation: content-image 1s ease forwards;
        &:hover {
          &:after {
            background-color: transparent;
          }
        }
      }
    }
  }
  &.no-me {
    display: none;
  }

  * {
    box-sizing: border-box;
  }

  .image {
    position: absolute;
    background-size: cover;
    animation: image 4s ease 1s forwards;
    width: 0; height: 0;
    cursor: pointer;
    &.content-image {
      background-size: contain;
    }

    &:after {
      content: ""; display: block;
      width: 100%; height: 100%;
      transition: 1s;
      border-radius: 15px;
    }
    &:hover {
      &:after {
        background-color: rgba(179, 170, 167, 0.164);
      }
    }
  }

  .description {
    position: absolute;
    background-color: #fff;
    cursor: pointer;
    width: 96%; height: 66%; bottom:10%; left: 2%; border-radius: 15px;  border: solid 3px #fff;
    &.disappear {
      display: none;
    }
    .text {
      margin: 6px 12px;
    }
  }
  .spin {
    position: absolute;
    width: 100%; height: 100%;
    transform: scale(0);
  }

  .spin:after {
    content: ""; display: block;
    width: 100%; height: 100%;
    border: solid 3px #fff;
    box-sizing: border-box;
  }
}




/******************************************************************
  animation
*******************************************************************/
@for $i from 1 through 5 {
  .contain-box .spin:nth-child(#{$i}) { 
    animation: scale0-1 1.5s ease forwards;
    animation-delay: #{$i * 0.1 + 1}s;
    &::after {
      animation: rotate180 2.5s ease forwards;
      animation-delay: #{$i * 0.1}s;
      opacity: #{1 - $i * 0.1};
    }
  }
}

    
/******************************************************************
  keyframes
*******************************************************************/
@keyframes image {
  0% { width: 0; height: 0; top:50%; left: 50%; border-radius: 50%; border: solid 0 #fff;}
  60% { width: 20vh; height: 20vh; top: calc(50% - 10vh); left: calc(50% - 10vh); border-radius: 15px; border: solid 3px #fff; } 
  100% { width: 100%; height: 100%; top:0; left: 0; border-radius: 15px;  border: solid 3px #fff; }
}
@keyframes remain-image {
  from { width: 100%; height: 100%; top:0; left: 0; border-radius: 15px;  border: solid 3px #fff; }
  to   { width: 100%; height: 22%; top:0; left: 0; border-radius: 15px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;  border: solid 3px #fff; } 
}
@keyframes content-image {
  from { width: 100%; height: 100%; background-repeat: no-repeat;background-position:center; background-size: contain; border-radius: 15px;  border: solid 3px #fff; }
  to   { width: 100%; height: 100%; background-repeat: no-repeat;background-position:center; background-size: contain; border-radius: 15px; border: solid 3px #fff; } 
}
@keyframes scale0-1 {
  from { transform: scale(0); }
  to   { transform: scale(1); } 
}
@keyframes rotate180 {
  from { transform: rotate(0); border-radius: 50% }
  to   { transform: rotate(360deg); border-radius: 15px }
}
